.contacto {
  background-color: white;
  height: auto;
  margin-bottom: 10vh !important;

  &__container {
    min-height: max-content;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  &__title {
    font-family: "Anton", sans-serif;
    font-size: 3rem;
  }

  &__subtitle {
    /* font-family: "Anton", sans-serif;
      font-family: "Asap", sans-serif; */
    font-family: "Darker Grotesque", sans-serif;
    font-size: 1.5rem;
    text-align: center;
  }

  & form {
    padding: 20px;
    padding-top: 5px;
    /* font-family: "Anton", sans-serif;
      font-family: "Asap", sans-serif;
      font-family: "Darker Grotesque", sans-serif; */
    font-family: "Wire One", sans-serif;
    font-size: 2rem;
    width: 50vw;
    max-width: 90vw !important;
    min-width: 450px;
  }

  &__horizFormElem {
    display: flex;
  }

  &__horizFormElem > * {
    flex: 1;
  }

  &__formElem {
    display: flex;
    flex-direction: column;
    padding: 5px;

    & > input,
    & > select,
    & > textarea {
      border: none;
      padding: 10px;
      background-color: #eee;
      font-family: inherit;
      font-size: 1.75rem;

      &:focus {
        outline: none;
      }
    }
  }

  &__submit {
    background-color: #202020 !important;
    color: white;
    font-size: 4rem !important;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background-color: goldenrod !important;
      color: #202020;
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &__lead {
    max-width: 40vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
  }

  &__leadTitle,
  &__leadSubtitle {
    font-family: "Darker Grotesque", sans-serif;
    font-size: 2.5rem;
    padding-bottom: 30px;
    text-align: center;
  }

  &__leadSubtitle {
    font-size: 1.5rem;
  }

  &__graciasContainer {
    display: flex;
    flex-direction: column;
  }

  &__volver {
    margin: auto auto;

    & > button {
      cursor: pointer;
      padding: 10px 20px;
      color: #ccc;
      background-color: #202020;
      border: none;
      outline: none;
      font-size: 3rem;
      transition: all 0.4s;
      font-family: "Wire One", sans-serif;

      &:hover {
        color: #202020;
        background-color: goldenrod;
      }
    }
  }
}

@media (max-width: 1700px) {
  .contacto__formElem > input,
  .contacto__formElem > select,
  .contacto__formElem > textarea {
    padding: 5px;
  }
}

@media (max-width: 1270px) {
  .contacto__submit {
    font-size: 3rem !important;
  }
}

@media (max-width: 1050px) {
  .contacto__submit {
    font-size: 2.5rem !important;
  }
}

@media (max-width: 900px) {
  .contacto__submit {
    font-size: 2rem !important;
  }
  .contacto form {
    font-size: 1.8rem;
  }
  .contacto__subtitle {
    font-size: 1.3rem;
  }
}

@media (max-width: 550px) {
  .contacto form {
    font-size: 1.6rem;
  }
  .contacto__subtitle {
    font-size: 1.1rem;
  }
  .contacto__formElem > input,
  .contacto__formElem > select,
  .contacto__formElem > textarea {
    font-size: 1.5rem;
  }
}

@media (max-width: 440px) {
  .contacto form {
    font-size: 1.4rem;
    min-width: 375px;
  }
  .contacto__subtitle {
    font-size: 1rem;
  }
  .contacto__submit {
    font-size: 2rem !important;
  }
}

@media (max-width: 400px) {
  .contacto form {
    min-width: 350px;
  }
  .contacto__subtitle {
    font-size: 0.9rem;
  }
  .contacto__submit {
    font-size: 1.8rem !important;
  }
  .contacto__horizFormElem {
    flex-direction: column;
  }
}

/* @media (max-width: 450px) {
    .contacto {
        margin-bottom: 30vh !important;
    }
    .contacto__horizFormElem {
        flex-direction: column;
    }
    .contacto__submit {
        font-size: 2rem !important;
    }
    .contacto form {
        font-size: 1.7rem;
        min-width: 350px;
    }
    .contacto__formElem>input, .contacto__formElem>select, .contacto__formElem>textarea {
        padding: 5px;
        font-size: 1.7rem;
    }
} */

@media (max-width: 350px) {
  .contacto__subtitle {
    font-size: 0.75rem;
  }
  .contacto form {
    min-width: 290px;
  }
  .contacto__submit {
    font-size: 1.4rem !important;
  }
}

@media (max-width: 300px) {
  .contacto__subtitle {
    font-size: 0.65rem;
  }
}
