.footer {
  background-color: #202020;
  width: 100%;
  display: flex;
  color: #ddd;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 0 !important;
  position: relative;

  &__left,
  &__right {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  &__right {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }

  &__logo {
    width: 120px;
    margin: 20px;
    cursor: pointer;
    opacity: 0.8;
  }

  &__center {
    height: 100%;
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > p {
      font-family: "Darker Grotesque", sans-serif;
      font-size: 1.2rem;
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 1rem;
    }
  }

  &__quote {
    font-family: "Darker Grotesque", sans-serif;
    padding: 20px;
    font-size: 1.2rem;
    text-align: center;
  }

  &__socialMedia {
    width: 50%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;

    & .svg-inline--fa {
      color: #ddd;
      margin: 0 10px;
      font-size: 2rem;
      cursor: pointer;
    }
  }

  &__nav {
    display: flex;
    justify-content: center;

    & > ul {
      padding: 0;
      list-style-type: none;
      display: flex;

      & > li {
        margin: 0 10px;
        cursor: pointer;
        font-family: "Asap", sans-serif;

        & > a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }

  &__contactContainer {
    margin-top: 8%;
    display: flex;
    flex-direction: column;
  }

  &__contact {
    display: flex;
    align-items: center;
    padding-left: 5%;

    & > p {
      padding-left: 5%;
    }
  }

  &__designedBy {
    position: absolute;
    bottom: 1vh;
    right: 1vw;
    color: white;
    opacity: 0.3;
    font-family: "Darker Grotesque", sans-serif;
    font-style: italic;

    & > a {
      text-decoration: none;
      color: white;
      font-style: italic;
    }

    & span {
      font-family: "Dancing Script", cursive;
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 1260px) {
  .footer__nav > ul > li {
    font-size: 0.9rem;
    white-space: nowrap;
    padding: 15px;
  }
  .footer__quote {
    font-size: 1.1rem;
    padding: 10px;
  }
  .footer__logo {
    margin: 0 !important;
  }
}

@media (max-width: 950px) {
  .footer__quote {
    font-size: 1rem;
  }
  .footer__nav > ul > li {
    font-size: 0.8rem;
    white-space: nowrap;
    padding: 5px;
  }
  .footer__socialMediaTitle {
    font-size: 1rem !important;
  }

  .footer__designedBy {
    right: 5vw;
  }

  .footer__designedBy span {
    font-size: 1.25rem;
  }
}

@media (max-width: 720px) {
  .footer__quote {
    display: none;
  }
  .footer__nav > ul > li {
    font-size: 0.8rem;
    white-space: nowrap;
    padding: 5px;
  }
  .footer__socialMediaTitle {
    font-size: 1rem !important;
  }
}

@media (max-width: 680px) {
  .footer__socialMediaTitle {
    display: none;
  }
  .footer__socialMedia {
    flex-direction: column;
  }
  .footer__socialMedia .svg-inline--fa {
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .footer__center {
    flex: 1;
  }
  .footer__socialMediaTitle {
    display: none;
  }
  .footer__socialMedia {
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }
  .footer__socialMedia > * {
    margin-bottom: 15px;
  }
  .footer {
    padding: 0 20px !important;
  }
}

@media (max-width: 480px) {
  .footer__logo {
    width: 80px;
  }
  .footer__socialMedia .svg-inline--fa {
    font-size: 1.5rem;
    margin-bottom: 0 !important;
  }
  .footer__nav > ul > li {
    font-size: 0.7rem;
  }
  .footer__right {
    padding-left: 30px;
    font-size: 0.8rem;
  }
  .footer__contact {
    padding: 0;
  }

  .footer__designedBy {
    bottom: 0.5vh;
  }

  .footer__designedBy span {
    font-size: 0.8rem;
  }
}

@media (max-width: 400px) {
  .footer__nav > ul > li {
    padding: 0;
    margin: 5px;
    font-size: 0.6rem;
  }
  .footer__contact {
    font-size: 0.7rem;
  }
}

@media (max-width: 350px) {
  .footer__logo {
    width: 60px;
  }
  .footer__right {
    padding: 0;
  }
  .footer__nav > ul > li {
    font-size: 0.5rem;
  }
  .footer__contact {
    font-size: 0.6rem;
  }
}
