.happyPeople {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__top,
  &__bottom {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__pic {
    object-fit: cover;
    width: 400px;
    height: 300px;
    margin: 10px;
    /* border-radius: 100vw; */
  }
}

@media (max-width: 1450px) {
  .happyPeople__pic {
    width: 350px;
    height: 250px;
  }
}

@media (max-width: 1225px) {
  .happyPeople__pic {
    width: 300px;
    height: 200px;
  }
}

@media (max-width: 1050px) {
  .happyPeople {
    &__top,
    &__bottom {
      flex-direction: column;
    }
    &__pic {
      width: 60vw !important;
    }
  }
}

@media (max-width: 440px) {
  .happyPeople__pic {
    width: 250px;
    height: 150px;
  }
}
