.landing {
  width: 100%;
  height: 85vh !important;
  background-image: url('./../imgs/landing1.jpg');
  background-size: cover;
  background-position: 0 35%;

  &__container {
    display: flex;
    height: 80%;
    align-items: center;

    & > h1 {
      font-family: 'Anton', sans-serif;
      font-size: 6rem;
      color: white;
      position: absolute;
      right: 6.5vw;
      bottom: 5vh;
    }
  }

  &__claim {
    font-family: 'Amatic SC', cursive;
    font-size: 5.5rem;
    color: white;
    left: 7.5vw;
    top: 35vh;
    padding: 20px 30px 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-top-right-radius: 20em;
    border-bottom-right-radius: 100px;
    transition: all 0.3s;

    & > h3 {
      line-height: 5rem;
      text-align: center;
    }

    &:hover {
      background-color: rgba(218, 165, 32, 0.7);
    }
  }

  &__mainSide {
    display: flex;
    align-items: center;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.1rem;
    color: #202020;
    transform: rotateZ(-90deg);
    position: fixed;
    left: -5vw;
    bottom: 20vh;

    & > a {
      text-decoration: none;
      color: #202020;
      margin: 0 3px;

      &:first-of-type {
        margin: 0 5px 0 10px;
      }
    }
  }
}

@media (min-width: 2000px) {
  .landing__claim {
    font-size: 7rem;
    padding: 30px 30px 10px 30px;
  }
}

@media (max-width: 1750px) {
  .landing {
    &__claim {
      font-size: 5rem;
    }
    &__container > h1 {
      font-size: 5rem;
      bottom: 2vh;
      right: 6vw;
    }
  }
}

@media (max-width: 1650px) {
  .landing {
    & > h1 {
      font-size: 5rem;
      top: 27.5%;
    }
    &__claim {
      font-size: 4rem;
    }
    &__container > h1 {
      font-size: 4rem;
      bottom: 2vh;
    }
  }
}

@media (max-width: 1380px) {
  .landing {
    &__claim {
      font-size: 3.5rem;
    }
    &__container > h1 {
      font-size: 4rem;
    }
  }
}

@media (max-width: 1250px) {
  .landing {
    &__claim {
      font-size: 3rem;
      padding: 5px 30px 5px 10px;
    }
    &__container > h1 {
      font-size: 3rem;
      bottom: 3vh;
    }
  }
}

@media (max-width: 700px) {
  .landing {
    background-position: center;

    &__container {
      height: 40%;
      & > h1 {
        font-size: 3rem;
        bottom: 3vh;
      }
    }
    &__claim {
      font-size: 3rem;
      width: 100%;
      border-radius: 0;
      text-align: center;
    }
  }
}

@media (max-width: 375px) {
  .landing {
    &__claim {
      font-size: 2.5rem;
    }
    &__container > h1 {
      font-size: 2rem;
      bottom: 4vh;
      right: 7vw;
    }
  }
}

@media (max-width: 300px) {
  .landing__claim {
    font-size: 2rem;
  }
}

/* mainSide queries */

@media (min-width: 2000px) {
  .landing__mainSide {
    font-size: 1.5rem;
  }
}

@media (max-width: 1700px) {
  .landing__mainSide {
    left: -7vw;
    bottom: 23vh;
  }
}

@media (max-width: 1600px) {
  .landing__mainSide {
    left: -7.5vw;
    bottom: 25vh;
  }
}

@media (max-width: 1465px) {
  .landing__mainSide {
    left: -8.5vw;
  }
}

@media (max-width: 1380px) {
  .landing__mainSide {
    left: -9.5vw;
  }
}

@media (max-width: 1225px) {
  .landing__mainSide {
    left: -11vw;
  }
}

@media (max-width: 1150px) {
  .landing__mainSide {
    left: -12.5vw;
  }
}

@media (max-width: 1040px) {
  .landing__mainSide {
    left: -14vw;
  }
}

@media (max-width: 965px) {
  .landing__mainSide {
    left: -15vw;
  }
}

@media (max-width: 910px) {
  .landing__mainSide {
    left: -16vw;
  }
}

@media (max-width: 865px) {
  .landing__mainSide {
    left: -16.5vw;
  }
}

@media (max-width: 848px) {
  .landing__mainSide {
    left: -17.5vw;
  }
}

@media (max-width: 811px) {
  .landing__mainSide {
    left: -19vw;
  }
}

@media (max-width: 759px) {
  .landing__mainSide {
    left: -20vw;
  }
}

@media (max-width: 730px) {
  .landing__mainSide {
    left: -21vw;
  }
}

@media (max-width: 709px) {
  .landing__mainSide {
    left: -22vw;
  }
}

@media (max-width: 680px) {
  .landing__mainSide {
    left: -23vw;
  }
}

@media (max-width: 655px) {
  .landing__mainSide {
    display: none;
  }
}
