.navbar {
  margin-bottom: 0 !important;

  & > div {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }

  /* Letras KIKEMINDFULNESS */
  /* &__logo {
  position: absolute;
  left: 2vw;
  top: 2vh;
  width: 166px;
  padding-left: 10px;
  color: inherit;
  transition: all 0.23;
} */

  /* Logo KikeMindfulness */
  &__logo {
    width: 15vw;
    padding-left: 10px;
    color: inherit;
    transition: all 0.23;

    &.hidden {
      left: 1vw;
    }
  }

  &__icon {
    flex: 1;
    max-width: max-content;

    & > a {
      font-family: "Asap", sans-serif;
      color: #202020;
      text-decoration: none;
      white-space: nowrap;
      transition: all 0.3s;
      cursor: default;

      &:hover {
        color: goldenrod;
      }
    }
  }

  & nav {
    flex: 1.5;
    display: flex;
    justify-content: space-between;
    align-items: flex-end !important;
    position: relative;
  }

  &__left {
    flex: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__right {
    display: flex;
    align-items: flex-end;
  }

  &__list {
    font-family: "Asap", sans-serif;
    font-size: 1.2rem;
    list-style-type: none;
    display: flex;
  }

  &__li {
    padding: 5px 20px;

    & > a {
      font-size: 1.5rem;
      color: #222220;
      text-decoration: none;
      cursor: pointer;
    }
  }

  &__phoneContainer {
    display: flex;
    align-items: center;
  }

  &__phone {
    font-family: "Asap", sans-serif;
    font-size: 1.5rem;
    padding: 5px 20px 5px 7px;
  }

  &__cta > button {
    background-color: #202020;
    color: white;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 1.75rem;
    font-family: "Asap", sans-serif;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: goldenrod;
    }
  }
}

@media (max-width: 1500px) {
  .navbar {
    & nav {
      justify-content: flex-start;
    }

    &__list {
      padding-left: 0;
    }
  }
}

@media (max-width: 1335px) {
  .navbar {
    &__li > a,
    &__phone {
      font-size: 1.3rem;
    }
  }
}

@media (max-width: 1275px) {
  .navbar__cta {
    top: -30px;

    & > button {
      font-size: 1.75rem;
    }
  }
}

@media (max-width: 1155px) {
  .navbar {
    &__li > a,
    &__phone {
      font-size: 1.1rem;
    }
    &__cta > button {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 1060px) {
  .navbar {
    &__li {
      padding: 5px 10px;
    }
    &__li > a,
    &__phone {
      font-size: 1rem;
    }
  }
}

@media (max-width: 970px) {
  .navbar {
    &__cta > button {
      font-size: 1.2rem;
    }
    &__icon > a {
      font-size: 1.6rem;
    }
  }
}

@media (max-width: 875px) {
  .navbar {
    &__cta > button {
      font-size: 1rem;
    }
    &__icon > a {
      font-size: 1.3rem;
    }
  }
}

@media (max-width: 800px) {
  .navbar {
    &__list {
      display: none;
    }
    &__icon > a {
      font-size: 1.3rem;
    }
  }
}

@media (max-width: 550px) {
  .navbar__phoneContainer {
    display: none;
  }
}

@media (max-width: 451px) {
  .navbar__cta > button {
    font-size: 1rem;
  }
}

@media (max-width: 411px) {
  .navbar {
    &__icon > a {
      font-size: 1.1rem;
    }
    &__cta {
      top: -37px;
    }
  }
}

@media (max-width: 370px) {
  .navbar {
    .navbar__icon > a {
      font-size: 1rem;
    }
    .navbar__cta > button {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 325px) {
  .navbar {
    &__icon > a {
      font-size: 0.9rem;
    }
    &__cta > button {
      font-size: 0.7rem;
    }
  }
}

/* GALAXY FOLD */

@media (max-width: 280px) {
  .navbar {
    &__icon > a {
      font-size: 0.8rem;
    }
    &__cta > button {
      font-size: 0.7rem;
    }
  }
}
