.programaPage {
  display: flex;
  width: 100vw;
  height: 90vh;
  margin: auto auto;
  text-align: justify;
  display: flex;
  overflow: auto;
  overflow-y: hidden;
  max-width: 100vw;
  position: absolute;
  top: 5vh;
  left: 0;

  &__left,
  &__right {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__left {
    flex: 0.5;
  }
  &__right {
    flex: 1;
  }

  &__logo {
    width: 90%;
    align-self: flex-start;
    max-width: 200px;
    padding-bottom: 20px;
  }

  &__video {
    margin-bottom: 20vh;
  }

  &__picture {
    width: 80vw;
    min-width: 200px;
    max-width: 700px;
    padding-bottom: 20vh;
  }

  &__container {
    padding: 20px 50px 0 75px;
    margin-right: 50px;
    flex: 0.8;
    max-width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    /* width: 120%; */
    font-family: "anton", sans-serif;
    padding: 20px;
    padding-top: 0;
    text-align: center;
    font-size: 2.5rem;
    white-space: nowrap;
  }

  &__subtitle {
    font-family: "Asap", sans-serif;
    padding-bottom: 30px;
  }

  &__buttons {
    width: max-content !important;
    padding: 50px 0 0 0;
    display: flex;

    & > * {
      flex: 1;

      & > a {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  &__backBtn,
  &__confirmBtn {
    margin: 0 5px;
  }

  &__backBtn {
    width: 240px;
    cursor: pointer;
    padding: 10px 20px;
    color: #ccc;
    background-color: #202020;
    border: none;
    outline: none;
    font-size: 2.2rem;
    transition: all 0.4s;
    font-family: "Wire One", sans-serif;

    &:hover {
      color: white;
      box-shadow: -5px 5px 5px rgba(196, 77, 77, 0.6);
      background-color: #e36f6f;
    }
  }

  &__confirmBtn {
    width: 240px;
    cursor: pointer;
    padding: 10px 20px;
    color: white;
    background-color: #202020;
    border: none;
    outline: none;
    font-size: 2.2rem;
    transition: all 0.4s;
    font-family: "Wire One", sans-serif;

    &:hover {
      color: white;
      box-shadow: 5px 5px 5px rgba(54, 150, 54, 0.6);
      background-color: #4bb34b;
    }
  }
}

/* Media queries */
@media (max-width: 1640px) {
  .programaPage {
    overflow-y: visible;

    &__container {
      padding: 0px 30px 0 50px;
      margin-right: 0;
      flex: 0.8;
      max-width: 35vw;
    }

    &__video {
      width: 480px !important;
      height: 270px !important;
    }
    &__title {
      font-size: 2rem;
      white-space: nowrap;
    }

    &__description {
      font-size: 0.9rem;
    }

    &__buttons * {
      font-size: 2.2rem;
    }
    &__picture {
      max-width: 600px;
    }
  }
}

@media (max-width: 1325px) {
  .programaPage__container {
    max-width: 40vw;
    margin-right: 0;
  }
}

@media (max-width: 1200px) {
  .programaPage {
    flex-direction: column;
    overflow-y: visible;
    align-items: center;

    &__container {
      max-width: 50vw;
    }
    &__description {
      font-size: 1rem;
    }

    &__video,
    &__picture {
      margin-top: 10vh;
    }
  }
}

@media (max-width: 800px) {
  .programaPage {
    &__container {
      max-width: 60vw;
    }

    &__left {
      flex: 0.2;
    }
  }

  .navbar__logo {
    display: none;
  }
}

@media (max-width: 600px) {
  .programaPage {
    overflow-x: hidden !important;

    &__container {
      max-width: 70vw;
    }
    &__buttons * {
      font-size: 1.9rem;
    }

    &__backBtn,
    &.confirmBtn {
      width: 180px;
    }

    &__video {
      margin-top: 10vh;
      width: 360px !important;
      height: 202px !important;
    }

    &__description {
      font-size: 0.7rem;
    }
  }

  .navbar__logo {
    width: 96px;
  }
}

@media (max-width: 450px) {
  .programaPage {
    .programaPage__left {
      display: none;
    }
    &__container {
      padding: 0;
    }
    &__title {
      font-size: 1.5rem;
    }

    &__left {
      flex: 0.15;
    }

    &__backBtn,
    &__confirmBtn {
      width: 150px !important;
    }

    &__confirmBtn {
      padding: 10px 0;
    }
    &__buttons * {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 360px) {
  .programaPage {
    &__description {
      font-size: 0.65rem;
    }

    &__video {
      margin-top: 10vh;
      width: 270px !important;
      height: 151.5px !important;
    }
  }
}

@media (max-width: 320px) {
  .programaPage {
    &__title {
      font-size: 1.33rem;
    }
    &__description {
      font-size: 0.6rem;
    }
    &__buttons * {
      font-size: 1.2rem;
    }
    &__backBtn,
    &__confirmBtn {
      width: 125px !important;
    }
  }
}

@media (max-width: 280px) {
  .programaPage {
    &__title {
      font-size: 1.1rem;
    }
    &__video {
      margin-top: 10vh;
      width: 216px !important;
      height: 120px !important;
    }
    &__container {
      max-width: 75vw;
      padding-right: 10px;
    }
  }
}
