@import "./Contacto", "./Footer", "./HappyPeople", "./Landing",
  "./LeadGenerator", "./Navbar", "./Programa", "./ProgramaPage", "./Programas",
  "./QuienSoy", "./Testimonios";

.app {
  background-color: white;
  height: 90vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
}

.app__top {
  flex: 0.05;
}

.app__main {
  flex: 0.95;
}

.app__allContainer {
  width: 100%;
  height: max-content;
}

.app__allContainer > * {
  margin-bottom: 20vh;
}
