@import "./Contacto", "./Footer", "./HappyPeople", "./Landing",
  "./LeadGenerator", "./Navbar", "./Programa", "./ProgramaPage", "./Programas",
  "./QuienSoy", "./Testimonios";

.app {
  background-color: white;
  height: 90vh;
  width: 90vw;
  display: flex;
  flex-direction: column;

  &__top {
    flex: 0.05;
  }

  &__main {
    flex: 0.95;
  }

  &__allContainer {
    width: 100%;
    height: max-content;

    & > * {
      margin-bottom: 20vh;
    }
  }
}
