.contacto {
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 50px;
}

.contacto__title {
    font-family: "Anton", sans-serif;
    font-size: 3rem;
}

.contacto__subtitle {
    /* font-family: "Anton", sans-serif;
    font-family: "Asap", sans-serif; */
    font-family: "Darker Grotesque", sans-serif;
    font-size: 1.3rem;
}

.contacto>form {
    padding: 20px;
    padding-top: 5px;
    /* font-family: "Anton", sans-serif;
    font-family: "Asap", sans-serif;
    font-family: "Darker Grotesque", sans-serif; */
    font-family: "Wire One", sans-serif;
    font-size: 2rem;
    width: 50vw;
}

.contacto__horizFormElem {
    display: flex;
}

.contacto__horizFormElem>* {
    flex: 1;
}

.contacto__formElem {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.contacto__formElem>input, .contacto__formElem>select, .contacto__formElem>textarea {
    border: none;
    padding: 10px;
    background-color: #eee;
    font-family: inherit;
    font-size: 1.75rem;
}

.contacto__formElem>input:focus, .contacto__formElem>select:focus, .contacto__formElem>textarea:focus {
    outline: none;
}

.contacto__submit {
    background-color: #202020 !important;
    color: white;
    font-size: 4rem !important;
    cursor: pointer;
    transition: all 0.2s;
}

.contacto__submit:hover {
    background-color: goldenrod !important;
    color: #202020;
}

.contacto__submit:active {
    transform: scale(0.95);
}