.happyPeople {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.happyPeople__top, .happyPeople__bottom {
    flex: 1;
    display: flex;
    justify-content: center;
}

.happyPeople__pic {
    object-fit: cover;
    width: 20vw;
    height: auto;
    margin: 10px;
    /* border-radius: 100vw; */
}