.happyPeople {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.happyPeople__top, .happyPeople__bottom {
    flex: 1;
    display: flex;
    justify-content: center;
}

.happyPeople__pic {
    object-fit: cover;
    width: 300px;
    height: auto;
    margin: 10px;
    /* border-radius: 100vw; */
}

@media (max-width: 1050px) {
    .happyPeople__top, .happyPeople__bottom {
        flex-direction: column;
    }
    .happyPeople__pic {
        width: 60vw !important;
    }
}