.landing {
    width: 100%;
    height: 85vh !important;
    background-image: url("/src/imgs/landing1.jpg");
    background-size: cover;
    background-position: 0 35%;
}

.landing__container {
    display: flex;
    height: 80%;
    align-items: center;
}

.landing__container>h1 {
    font-family: 'Anton', sans-serif;
    font-size: 6rem;
    color: white;
    position: absolute;
    /* left: 20%;
    top: 25%; */
    right: 6.5vw;
    bottom: 5vh;
}

.landing__claim {
    font-family: 'Amatic SC', cursive;
    font-size: 6rem;
    color: white;
    /* left: 12%;
    top: 37.5%; */
    left: 7.5vw;
    top: 35vh;
    padding: 20px 30px 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-top-right-radius: 20em;
    border-bottom-right-radius: 100px;
    transition: all 0.3s;
}

.landing__claim:hover {
    background-color: rgba(218, 165, 32, 0.7);
}

.landing__claim>h3 {
    line-height: 5rem;
}

.landing__mainSide {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.1rem;
    color: #202020;
    transform: rotateZ(-90deg);
    position: fixed;
    left: -3vw;
    bottom: 20vh;
}

@media (min-width: 2000px) {
    .landing__claim {
        font-size: 7rem;
        padding: 30px 30px 10px 30px;
    }
}

@media (max-width: 1700px) {
    .landing__claim {
        font-size: 5rem;
    }
    .landing__container>h1 {
        font-size: 5rem;
        bottom: 2vh;
        right: 6vw;
    }
}

@media (max-width: 1550px) {
    .landing__claim {
        font-size: 4rem;
    }
    .landing__container>h1 {
        font-size: 4rem;
        bottom: 2vh;
    }
    .landing>h1 {
        font-size: 5rem;
        top: 27.5%;
    }
}

@media (max-width: 1280px) {
    .landing__claim {
        font-size: 3.5rem;
    }
    .landing__container>h1 {
        font-size: 4rem;
    }
}

@media (max-width: 1150px) {
    .landing__claim {
        font-size: 3rem;
        padding: 5px 30px 5px 10px;
    }
    .landing__container>h1 {
        font-size: 3rem;
        bottom: 3vh;
    }
}

@media (max-width: 600px) {
    .landing {
        background-position: center;
    }
    .landing__container {
        height: 40%;
    }
    .landing__claim {
        font-size: 3rem;
        width: 100%;
        border-radius: 0;
        text-align: center;
    }
    .landing__container>h1 {
        font-size: 3rem;
        bottom: 3vh;
    }
}

@media (max-width: 375px) {
    .landing__claim {
        font-size: 2.5rem;
    }
    .landing__container>h1 {
        font-size: 2rem;
        bottom: 4vh;
        right: 7vw;
    }
}

@media (max-width: 300px) {
    .landing__claim {
        font-size: 2rem;
    }
}

/* mainSide queries */

@media (min-width: 2000px) {
    .landing__mainSide {
        font-size: 1.5rem;
    }
}

@media (max-width: 1700px) {
    .landing__mainSide {
        left: -5vw;
        bottom: 23vh;
    }
}

@media (max-width: 1550px) {
    .landing__mainSide {
        left: -5.5vw;
        bottom: 25vh;
    }
}

@media (max-width: 1390px) {
    .landing__mainSide {
        left: -6vw;
    }
}

@media (max-width: 1326px) {
    .landing__mainSide {
        left: -7vw;
    }
}

@media (max-width: 1210px) {
    .landing__mainSide {
        left: -8vw;
    }
}

@media (max-width: 1110px) {
    .landing__mainSide {
        left: -9vw;
    }
}

@media (max-width: 1025px) {
    .landing__mainSide {
        left: -10vw;
    }
}

@media (max-width: 965px) {
    .landing__mainSide {
        left: -11vw;
    }
}

@media (max-width: 905px) {
    .landing__mainSide {
        left: -12vw;
    }
}

@media (max-width: 850px) {
    .landing__mainSide {
        left: -13vw;
    }
}

@media (max-width: 805px) {
    .landing__mainSide {
        left: -14vw;
    }
}

@media (max-width: 760px) {
    .landing__mainSide {
        left: -15vw;
    }
}

@media (max-width: 723px) {
    .landing__mainSide {
        left: -16vw;
    }
}

@media (max-width: 690px) {
    .landing__mainSide {
        left: -17vw;
    }
}

@media (max-width: 655px) {
    .landing__mainSide {
        left: -18vw;
    }
}

@media (max-width: 629px) {
    .landing__mainSide {
        left: -19vw;
    }
}

@media (max-width: 600px) {
    .landing__mainSide {
        left: -21vw;
    }
}

@media (max-width: 555px) {
    .landing__mainSide {
        left: -23vw;
        bottom: 30vh;
    }
}

@media (max-width: 515px) {
    .landing__mainSide {
        left: -25vw;
    }
}

@media (max-width: 481px) {
    .landing__mainSide {
        left: -27vw;
    }
}

@media (max-width: 450px) {
    .landing__mainSide {
        left: -29vw;
    }
}

@media (max-width: 434px) {
    .landing__mainSide {
        display: none;
    }
}

/* @media (max-width: 425px) {
    .landing__mainSide {
        left: -31vw;
        bottom: 35vh;
    }
}

@media (max-width: 399px) {
    .landing__mainSide {
        left: -33vw;
        bottom: 40vh;
    }
}

@media (max-width: 379px) {
    .landing__mainSide {
        left: -35vw;
        bottom: 50vh;
    }
}

@media (max-width: 361px) {
    .landing__mainSide {
        left: -36vw;
        bottom: 55vh;
    }
} */