.landing {
    width: 100%;
    height: 85vh !important;
    /* background-image: url("https://images.unsplash.com/photo-1502139214982-d0ad755818d8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"); */
    background-image: url("/src/imgs/landing1.jpg");
    background-size: cover;
    background-position: 0 35%;
}

.landing>h1 {
    font-family: 'Anton', sans-serif;
    padding-right: 25%;
    padding-bottom: 20%;
    font-size: 6rem;
    color: white;
    position: absolute;
    left: 20%;
    top: 25%;
}

.landing>h6 {
    font-family: 'Wire One', sans-serif;
    font-size: 2rem;
    color: white;
    position: absolute;
    left: 15%;
    top: 37.5%;
}

.landing>a {
    position: absolute;
    left: 20%;
    top: 42%;
    text-decoration: none;
    color: #202020;
}

.landing>a>button {
    width: 300px;
    padding: 10px;
    font-size: 2rem;
    border-radius: 5px;
    border: none;
    font-family: 'Asap', sans-serif;
    cursor: pointer;
    transition: all 0.2s;
    outline: none;
}

.landing>a>button:hover {
    background-color: #ccc
}

.landing__mainSide {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.1rem;
    color: #202020;
    transform: rotateZ(-90deg);
    position: fixed;
    left: -3vw;
    bottom: 20vh;
}