.leadGenerator {
    /* height: 100%; */
    width: 100vw !important;
    padding-top: 100px;
    display: flex;
    align-items: center;
}

.leadGenerator__container {
    width: 90% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 50px 0 50px 0;
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("./../imgs/binding_dark.png");
    color: white;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
}

.leadGenerator__container>h4 {
    font-family: "Anton", sans-serif;
    font-size: 2rem;
    padding: 0 10px 10px 10px;
    text-align: center;
}

.leadGenerator__container>p {
    font-family: "Asap", sans-serif;
    font-size: 1.3rem;
    width: 60%;
    text-align: center;
}

.leadGenerator__video {
    margin-top: 30px;
}

@media (max-width: 900px) {
    .leadGenerator__container>h4 {
        font-size: 1.5rem;
    }
    .leadGenerator__container>p {
        font-size: 1.1rem;
    }
}

@media (max-width: 730px) {
    .leadGenerator__video {
        width: 480px !important;
        height: 270px !important;
    }
}

@media (max-width: 550px) {
    .leadGenerator__container>h4 {
        font-size: 1.3rem;
    }
    .leadGenerator__container>p {
        font-size: 1rem;
    }
    .leadGenerator__video {
        width: 320px !important;
        height: 180px !important;
    }
}

@media (max-width: 360px) {
    .leadGenerator__container>h4 {
        font-size: 1.1rem;
    }
    .leadGenerator__container>p {
        font-size: 1rem;
    }
    .leadGenerator__video {
        width: 256px !important;
        height: 144px !important;
    }
}

@media (max-width: 300px) {
    .leadGenerator__container>h4 {
        font-size: 1rem;
    }
    .leadGenerator__container>p {
        font-size: 0.9rem;
    }
    .leadGenerator__video {
        width: 230px !important;
        height: 129px !important;
    }
}