.navbar {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-bottom: 0 !important;
}

.navbar__icon {
    flex: 1;
}

.navbar__icon>a {
    font-family: 'Asap', sans-serif;
    color: #202020;
    text-decoration: none;
}

.navbar>nav {
    flex: 1.5;
}

.navbar>nav>ul {
    font-family: 'Asap', sans-serif;
    font-size: 1.2rem;
    list-style-type: none;
    display: flex;
}

.navbar>nav>ul>li {
    padding: 5px 20px;
}

.navbar>nav>ul>li>a {
    color: #202020;
    text-decoration: none;
    cursor: pointer;
}