.programa {
    width: 20vw;
    min-width: 300px;
    height: 50vh;
    min-height: 450px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px;
}

.programa__picture {
    object-fit: cover;
    width: 100%;
    height: 20vh;
}

.programa__title {
    text-align: center;
    font-family: 'Wire One', sans-serif;
    font-size: 2.5rem;
    padding: 20px 5px 0 5px;
    line-height: 1.6rem;
}

.programa__description {
    padding: 20px;
    text-align: center;
}

.programa__link, .programa__button {
    width: 100%;
    margin: auto auto 0 auto;
}

.programa__button {
    cursor: pointer;
    background-color: #202020;
    border: none;
    outline: none;
    font-size: 3rem;
    padding: 10px;
    transition: all 0.4s;
    color: white;
    /* font-family: 'Anton', sans-serif; */
    /* font-family: 'Asap', sans-serif; */
    font-family: 'Wire One', sans-serif;
}

.programa__button {
    color: white;
    text-decoration: none;
}

.programa__button:hover {
    color: #202020;
    background-color: goldenrod;
}

@media (max-width: 1120px) {
    .programa {
        width: 30vw;
    }
}

@media (max-width: 700px) {
    .programa {
        font-size: 80%;
        min-width: 200px;
        margin: 0;
        margin-bottom: 50px;
    }
}