.programaPage {
  display: flex;
  width: 100vw;
  height: 90vh;
  margin: auto auto;
  text-align: justify;
  display: flex;
}

.programaPage__left {
  flex: 0.3;
}
.programaPage__right {
  flex: 1;
  display: flex;
  align-items: center;
}

.programaPage__picture {
  width: 30vw;
  padding-bottom: 20vh;
}

.programaPage__container {
  padding: 50px 100px 0 75px;
  margin-right: 50px;
  flex: 0.8;
}

.programaPage__title {
  font-family: "anton", sans-serif;
  padding: 20px;
  text-align: center;
  font-size: 2.5rem;
}

.programaPage__subtitle {
  font-family: "Asap", sans-serif;
  padding-bottom: 30px;
}

.programaPage__video {
  margin-bottom: 20vh;
}

.programaPage__buttons {
  width: 100% !important;
  padding: 50px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.programaPage__buttons > * {
  flex: 1;
}

.programaPage__backBtn,
.programaPage__confirmBtn {
  /* width: 400px !important; */
  margin: 0 5px;
}

/* .programaPage__confirmLink {
  width: 400px !important;
} */

.programaPage__buttons > * > a {
  text-decoration: none;
  color: inherit;
}

.programaPage__backBtn {
  width: 300px;
  cursor: pointer;
  padding: 10px 20px;
  color: #ccc;
  background-color: #202020;
  border: none;
  outline: none;
  font-size: 3rem;
  transition: all 0.4s;
  font-family: "Wire One", sans-serif;
}

.programaPage__backBtn:hover {
  color: white;
  box-shadow: -5px 5px 5px rgba(196, 77, 77, 0.6);
  background-color: #e36f6f;
}

.programaPage__confirmBtn {
  width: 320px;
  cursor: pointer;
  padding: 10px 20px;
  color: white;
  background-color: #202020;
  border: none;
  outline: none;
  font-size: 3rem;
  transition: all 0.4s;
  font-family: "Wire One", sans-serif;
}

.programaPage__confirmBtn:hover {
  color: white;
  box-shadow: 5px 5px 5px rgba(54, 150, 54, 0.6);
  background-color: #4bb34b;
}
