.programas {
    height: 100%;
    background-color: white;
    padding-top: 50px;
}

.programas__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 100px;
}

.programas__title {
    font-family: "Anton", sans-serif;
    font-size: 3rem;
}

.programas__list {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1120px) {
    .programas__list {
        flex-direction: column;
    }
}