.programaPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    max-width: 400px;
    margin: auto auto;
    padding-top: 100px;
    text-align: justify;
}

.programaPage__title {
    font-family: "anton", sans-serif;
    padding: 20px;
}

.programaPage__subtitle {
    font-family: "Asap", sans-serif;
    padding-bottom: 30px;
}

.programaPage__buttons {
    padding: 50px 0;
    display: flex;
    width: 100%;
}

.programaPage__buttons>* {
    flex: 1;
}

.programaPage__backBtn, .programaPage__confirmBtn {
    margin: 0 5px;
    padding: 20px;
    font-size: 1.5rem;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    transition: all 0.3s;
}

.programaPage__buttons>*>a {
    text-decoration: none;
    color: inherit;
}

.programaPage__backBtn {
    padding: 0;
    background-color: #c44d4d;
}

.programaPage__backBtn:hover {
    box-shadow: -5px 5px 5px rgba(196, 77, 77, 0.6);
    background-color: #e36f6f;
}

.programaPage__confirmBtn {
    background-color: #369636
}

.programaPage__confirmBtn:hover {
    box-shadow: 5px 5px 5px rgba(54, 150, 54, 0.6);
    background-color: #4bb34b;
}