.quienSoy {
    /* height: 100%;
    width: 100%; */
    background-color: white;
    padding-top: 100px;
    padding-right: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quienSoy__container {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.quienSoy__title {
    font-family: "Anton", sans-serif;
    font-size: 3rem;
    padding-left: 25%;
}

.quienSoy__description {
    font-family: "Asap", sans-serif;
    font-size: 1.5rem;
    width: 50%;
    padding-left: 2vw;
}

.quienSoy__video {
    margin: 3vh auto auto 45%;
}

@media (max-width: 1200px) {
    .quienSoy {
        padding-right: 0;
    }
    .quienSoy__title {
        padding-left: 0;
    }
    .quienSoy__video {
        margin: 50px auto auto auto;
    }
}

@media (max-width: 700px) {
    .quienSoy__video {
        width: 480px !important;
        height: 270px !important;
    }
}

@media (max-width: 530px) {
    .quienSoy__video {
        width: 320px !important;
        height: 180px !important;
    }
    .quienSoy__description {
        width: 80%;
    }
}

@media (max-width: 350px) {
    .quienSoy__video {
        width: 256px !important;
        height: 144px !important;
    }
}