.app {
    background-color: white;
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
}

.app__top {
    flex: 0.05;
}

.app__main {
    flex: 0.95;
}

.app__allContainer {
    height: max-content;
}

.app__allContainer>* {
    margin-bottom: 20vh;
}